DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=tu-dominio.com
CSRF_TRUSTED_ORIGINS=https://tu-dominio.com
DATABASE_URL=postgresql://USER:PASS@HOST:5432/DB
SECURE_SSL_REDIRECT=True
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=60
SEED_DEMO=0

# Stripe
STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=TEST-...